In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data=pd.read_csv("data.csv")

In [ ]:
data.shape #Data contains 520 rows and 17 columns

In [ ]:
data.head()

In [ ]:
data.isna().sum() #There are no null values

In [7]:
Data=data

In [ ]:
Data.head()

In [9]:
Data['Gender'] = Data['Gender'].map({'Male':1,'Female':0})
Data['class'] = Data['class'].map({'Positive':1,'Negative':0})
Data['Polyuria'] = Data['Polyuria'].map({'Yes':1,'No':0})
Data['Polydipsia'] = Data['Polydipsia'].map({'Yes':1,'No':0})
Data['sudden weight loss'] = Data['sudden weight loss'].map({'Yes':1,'No':0})
Data['weakness'] = Data['weakness'].map({'Yes':1,'No':0})
Data['Polyphagia'] = Data['Polyphagia'].map({'Yes':1,'No':0})
Data['Genital thrush'] = Data['Genital thrush'].map({'Yes':1,'No':0})
Data['visual blurring'] = Data['visual blurring'].map({'Yes':1,'No':0})
Data['Itching'] = Data['Itching'].map({'Yes':1,'No':0})
Data['Irritability'] = Data['Irritability'].map({'Yes':1,'No':0})
Data['delayed healing'] = Data['delayed healing'].map({'Yes':1,'No':0})
Data['partial paresis'] = Data['partial paresis'].map({'Yes':1,'No':0})
Data['muscle stiffness'] = Data['muscle stiffness'].map({'Yes':1,'No':0})
Data['Alopecia'] = Data['Alopecia'].map({'Yes':1,'No':0})
Data['Obesity'] = Data['Obesity'].map({'Yes':1,'No':0})

In [10]:
Data.head() #all values have been coverted to numerical values

   Age  Gender  Polyuria  ...  Alopecia  Obesity  class
0   40       1         0  ...         1        1      1
1   58       1         0  ...         1        0      1
2   41       1         1  ...         1        0      1
3   45       1         0  ...         0        0      1
4   60       1         1  ...         1        1      1

[5 rows x 17 columns]

**Gender vs Class**

# Model Building

Splitting into training and testing data

In [15]:
from sklearn.model_selection import train_test_split
trainX,testX,trainY,testY=train_test_split(Data.iloc[:,:-1],Data.iloc[:,-1],train_size=0.8,random_state=1)

In [16]:
#Normalizing the data
from keras.utils import normalize
Xtrain=normalize(trainX)
Xtest=normalize(testX)

## Probabilistic Neural Network

In [ ]:
!pip install neupy

In [18]:
from neupy import algorithms
from sklearn import metrics

In [19]:
Xtrain.head()

          Age    Gender  Polyuria  ...  muscle stiffness  Alopecia  Obesity
201  0.998727  0.035669  0.000000  ...          0.000000  0.000000      0.0
92   0.997509  0.000000  0.024938  ...          0.024938  0.000000      0.0
344  0.999463  0.000000  0.016385  ...          0.000000  0.016385      0.0
119  0.997844  0.000000  0.029348  ...          0.029348  0.000000      0.0
221  0.998381  0.023218  0.000000  ...          0.000000  0.023218      0.0

[5 rows x 16 columns]

In [20]:
pnn = algorithms.PNN(std=10,verbose=True)
pnn.train(Xtrain,trainY)

Main information

[ALGORITHM] PNN

[OPTION] batch_size = 128
[OPTION] std = 10
[OPTION] verbose = True

In [21]:
pred=pnn.predict(Xtest)
prob=pnn.predict_proba(Xtest)
print(pred)
print('...............')
print(prob)

[0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 1 1 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 1 1
 0 0 0 0 0 1 0 1 1 1 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1
 0 1 1 0 1 1 0 1 1 0 1 0 0 0 1 1 0 0 0 1 0 0 0 1 0 1 1 1 0 1]
...............
[[0.50000396 0.49999604]
 [0.50000549 0.49999451]
 [0.50000212 0.49999788]
 [0.50000471 0.49999529]
 [0.50000011 0.49999989]
 [0.49999788 0.50000212]
 [0.50000161 0.49999839]
 [0.50000242 0.49999758]
 [0.50000396 0.49999604]
 [0.50000382 0.49999618]
 [0.50000571 0.49999429]
 [0.50000179 0.49999821]
 [0.49999556 0.50000444]
 [0.49999783 0.50000217]
 [0.50000487 0.49999513]
 [0.49999709 0.50000291]
 [0.50000329 0.49999671]
 [0.50000364 0.49999636]
 [0.49999981 0.50000019]
 [0.49999918 0.50000082]
 [0.50000051 0.49999949]
 [0.50000239 0.49999761]
 [0.49999709 0.50000291]
 [0.50000177 0.49999823]
 [0.4999993  0.5000007 ]
 [0.5000054  0.4999946 ]
 [0.49999941 0.50000059]
 [0.49999556 0.50000444]
 [0.50000319 0.49999681]
 [0.50000004 0.49999996]
 [0.50000166 0.49999834]
 [0.50000382 0.49999618]
 [0.50000499 0.49999501]
 [0.50000075 0.49999925]
 [0.50000549 0.49999451]
 [0.49999831 0.50000169]
 [0.49999598 0.50000402]
 [0.50000396 0.49999604]
 [0.50000571 0.49999429]
 [0.500001   0.499999  ]
 [0.50000319 0.49999681]
 [0.50000403 0.49999597]
 [0.49999848 0.50000152]
 [0.50000247 0.49999753]
 [0.4999934  0.5000066 ]
 [0.49999851 0.50000149]
 [0.49999713 0.50000287]
 [0.50000331 0.49999669]
 [0.4999974  0.5000026 ]
 [0.500001   0.499999  ]
 [0.50000484 0.49999516]
 [0.50000263 0.49999737]
 [0.4999957  0.5000043 ]
 [0.4999934  0.5000066 ]
 [0.50000263 0.49999737]
 [0.50000109 0.49999891]
 [0.50000319 0.49999681]
 [0.50000364 0.49999636]
 [0.50000571 0.49999429]
 [0.50000536 0.49999464]
 [0.50000012 0.49999988]
 [0.50000357 0.49999643]
 [0.49999803 0.50000197]
 [0.50000227 0.49999773]
 [0.49999918 0.50000082]
 [0.50000418 0.49999582]
 [0.50000083 0.49999917]
 [0.50000186 0.49999814]
 [0.49999836 0.50000164]
 [0.49999694 0.50000306]
 [0.50000336 0.49999664]
 [0.50000242 0.49999758]
 [0.50000368 0.49999632]
 [0.49999899 0.50000101]
 [0.5000054  0.4999946 ]
 [0.49999796 0.50000204]
 [0.49999495 0.50000505]
 [0.50000033 0.49999967]
 [0.49999757 0.50000243]
 [0.49999848 0.50000152]
 [0.50000105 0.49999895]
 [0.49999541 0.50000459]
 [0.49999941 0.50000059]
 [0.50000575 0.49999425]
 [0.4999957  0.5000043 ]
 [0.50000259 0.49999741]
 [0.50000471 0.49999529]
 [0.50000076 0.49999924]
 [0.49999634 0.50000366]
 [0.49999556 0.50000444]
 [0.50000212 0.49999788]
 [0.50000296 0.49999704]
 [0.50000532 0.49999468]
 [0.49999328 0.50000672]
 [0.50000435 0.49999565]
 [0.500003   0.499997  ]
 [0.50000033 0.49999967]
 [0.4999957  0.5000043 ]
 [0.50000011 0.49999989]
 [0.49999944 0.50000056]
 [0.4999989  0.5000011 ]
 [0.49999987 0.50000013]
 [0.50000142 0.49999858]
 [0.49999928 0.50000072]]

In [22]:
y_predicted = pnn.predict(testX) #0.7019230769230769
metrics.accuracy_score(testY, y_predicted)

0.7019230769230769